
body {
    background: #fff;
    
}

.fecha {
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: rgb(0, 132, 255);
    letter-spacing: 0.15em;
}

.titulo {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: rgb(0, 132, 255);
    letter-spacing: 0.1em;
}

.pink {
    text-shadow: 
        0 0 5px #ff7bac,
        0 0 10px #ff7bac,
        0 0 20px #ff7bac,
        0 0 40px #ff7bac,
        0 0 80px #ff7bac,
        0 0 90px #ff7bac,
        0 0 100px #ff7bac,
        0 0 150px #ff7bac;
}

.blue {
    text-shadow: 
        0 0 5px #7bacff,
        0 0 10px #7bacff,
        0 0 20px #7bacff,
        0 0 40px #7bacff,
        0 0 80px #7bacff,
        0 0 90px #7bacff,
        0 0 100px #7bacff,
        0 0 150px #7bacff;
}
.green {
    text-shadow: 
        0 0 5px #7bffce,
        0 0 10px #7bffce,
        0 0 20px #7bffce,
        0 0 40px #7bffce,
        0 0 80px #7bffce,
        0 0 90px #7bffce,
        0 0 100px #7bffce,
        0 0 150px #7bffce;
}

.colorGrey{
    color: grey
}


@media (max-width: 991.98px) { 
    .fecha{
        font-size: 2em;
    }

    .titulo{
        font-size: 2em;
    }
}

@media (max-width: 767.98px) { 
    .fecha{
        font-size: 1em;
    }

    .titulo{
        font-size: 1.2em; 
        
    }
}