
body {
    background: #000000;
    
}

.fechaAzul {
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    color: rgb(0, 132, 255);
    letter-spacing: 10px;
}

.titulo {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 18px;
}

.fechaVerde {
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    color: chartreuse;
    letter-spacing: 10px;
}


.fechaRojo {
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    color: red;
    letter-spacing: 10px;
}


.pink {
    text-shadow: 
        0 0 5px #ff7bac,
        0 0 10px #ff7bac,
        0 0 20px #ff7bac,
        0 0 40px #ff7bac,
        0 0 80px #ff7bac,
        0 0 90px #ff7bac,
        0 0 100px #ff7bac,
        0 0 150px #ff7bac;
}

.blue {
    text-shadow: 
        0 0 5px #7bacff,
        0 0 10px #7bacff,
        0 0 20px #7bacff,
        0 0 40px #7bacff,
        0 0 80px #7bacff,
        0 0 90px #7bacff,
        0 0 100px #7bacff,
        0 0 150px #7bacff;
}
.green {
    text-shadow: 
        0 0 5px #7bffce,
        0 0 10px #7bffce,
        0 0 20px #7bffce,
        0 0 40px #7bffce,
        0 0 80px #7bffce,
        0 0 90px #7bffce,
        0 0 100px #7bffce,
        0 0 150px #7bffce;
}

.white {
    text-shadow: 
        0 0 5px #e6e6e6,
        0 0 10px #e6e6e6,
        0 0 20px #e6e6e6,
        0 0 40px #e6e6e6,
        0 0 80px #e6e6e6,
        0 0 90px #e6e6e6,
        0 0 100px #e6e6e6,
        0 0 150px #e6e6e6;
}

.colorWhite{
    color: whitesmoke;
}

.fuente{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media all and (min-width: 768px) and (max-width: 991px){
    .fechaAzul{
        font-size: 55px;
    }

    .fechaVerde{
        font-size: 55px;
    }

    .fechaRojo{
        font-size: 55px;
    }

    .titulo{
        font-size: 30px;
    }
}

@media all and (max-width: 767px){
    .fechaAzul{
        font-size: 21px;
    }

    .fechaVerde{
        font-size: 21px;
    }

    .fechaRojo{
        font-size: 21px;
    }

    .titulo{
        font-size: 15px; 
        
    }
}